
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 161.8rem;
}.frame-8-QAb {
  box-sizing: border-box;
  padding: 9.77rem 27.4rem 38.1rem 18.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-8-QAb .header-heading-2-sustainable-gift-giving-KHZ {
  margin: 0rem 0rem 15.43rem 2.833rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.2000000477;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #212529;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-8-QAb .auto-group-nndk-BKm {
  margin-bottom: 12.1rem;
  width: 100%;
  height: 65.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-8-QAb .auto-group-nndk-BKm .link-article-figure-ecofriendlystockingstuffersimg-306x459jpg-X8j {
  margin-right: 14rem;
  width: 52.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e6ebee;
  background-size: 100% 100%;
  background-image: url('../assets/link-article-figure-ecofriendlystockingstuffersimg-306x459jpg-bg.png');
  flex-shrink: 0;
}
.frame-8-QAb .auto-group-nndk-BKm .link-article-figure-ecofriendlystockingstuffersimg-306x459jpg-X8j .link-article-figure-ecofriendlystockingstuffersimg-306x459jpg-X8j-bg {
  width: 52.5rem;
  height: 65.7rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:27a6adff864653ccf49e18b4c3da0c2e01b95ea1');
}
.frame-8-QAb .auto-group-nndk-BKm .link-article-figure-ecofriendlygiftsforkidsimg-306x459jpg-yWX {
  width: 49.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e6ebee;
  background-size: 100% 100%;
  background-image: url('../assets/link-article-figure-ecofriendlygiftsforkidsimg-306x459jpg-bg.png');
  flex-shrink: 0;
}
.frame-8-QAb .auto-group-nndk-BKm .link-article-figure-ecofriendlygiftsforkidsimg-306x459jpg-yWX .link-article-figure-ecofriendlygiftsforkidsimg-306x459jpg-yWX-bg {
  width: 49.1rem;
  height: 65.7rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:ef0a96f5ccc3a5520106a5922b621d39d79d18e1');
}
.frame-8-QAb .auto-group-xleq-r4X {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-8-QAb .auto-group-xleq-r4X .link-article-figure-zerowastegiftideasimg-306x459jpg-1TD {
  margin: 0rem 14rem 2.3rem 0rem;
  width: 52.5rem;
  height: 71rem;
  overflow: hidden;
  position: relative;
  background-color: #e6ebee;
  background-size: 100% 100%;
  background-image: url('../assets/link-article-figure-zerowastegiftideasimg-306x459jpg-bg.png');
  flex-shrink: 0;
}
.frame-8-QAb .auto-group-xleq-r4X .link-article-figure-zerowastegiftideasimg-306x459jpg-1TD .link-article-figure-zerowastegiftideasimg-306x459jpg-1TD-bg {
  width: 52.5rem;
  height: 71rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:d6216ea9aef7a0523eb9dab934f254f1bb59047b');
}
.frame-8-QAb .auto-group-xleq-r4X .link-article-figure-ecofriendlygiftsimg-2-306x459jpg-3uh {
  margin-top: 2.3rem;
  width: 49.1rem;
  height: 71rem;
  overflow: hidden;
  position: relative;
  background-color: #e6ebee;
  background-size: 100% 100%;
  background-image: url('../assets/link-article-figure-ecofriendlygiftsimg-2-306x459jpg-bg.png');
  flex-shrink: 0;
}
.frame-8-QAb .auto-group-xleq-r4X .link-article-figure-ecofriendlygiftsimg-2-306x459jpg-3uh .link-article-figure-ecofriendlygiftsimg-2-306x459jpg-3uh-bg {
  width: 49.1rem;
  height: 71rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:8f0d67bcc73ab7eba29df615f9ee4265e5f01990');
}
