
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-2-6aj {
  box-sizing: border-box;
  padding: 9.05rem 5.999rem 13.2rem 13.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.frame-2-6aj .header-heading-2-ethical-fashion-ok3 {
  margin: 0rem 0rem 8.95rem 19.499rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.2000000477;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #212529;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-6aj .auto-group-cym7-T3u {
  width: 100%;
  height: 62.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2-6aj .auto-group-cym7-T3u .link-article-figure-sustianable-gloves-french-knot1-306x459jpg-zZd {
  width: 40.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e6ebee;
  background-size: 100% 100%;
  background-image: url('../assets/link-article-figure-sustianable-gloves-french-knot1-306x459jpg-bg.png');
  flex-shrink: 0;
}
.frame-2-6aj .auto-group-cym7-T3u .link-article-figure-sustianable-gloves-french-knot1-306x459jpg-zZd .link-article-figure-sustianable-gloves-french-knot1-306x459jpg-zZd-bg {
  width: 40.1rem;
  height: 62.3rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:66621c9cb0beb91929e6145f0fb989811d53e65b');
}
.frame-2-6aj .auto-group-cym7-T3u .auto-group-utgh-Bu1 {
  box-sizing: border-box;
  padding: 5.6rem 0rem 3.8rem 9.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame-2-6aj .auto-group-cym7-T3u .auto-group-utgh-Bu1 .link-article-figure-sustainable-scarves-minna-306x459jpg-aRM {
  margin-right: 10.377rem;
  width: 37.8rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e6ebee;
  background-size: 100% 100%;
  background-image: url('../assets/link-article-figure-sustainable-scarves-minna-306x459jpg-bg.png');
  flex-shrink: 0;
}
.frame-2-6aj .auto-group-cym7-T3u .auto-group-utgh-Bu1 .link-article-figure-sustainable-scarves-minna-306x459jpg-aRM .link-article-figure-sustainable-scarves-minna-306x459jpg-aRM-bg {
  width: 37.8rem;
  height: 52.9rem;
  position: relative;
  background-image: url('REPLACE_IMAGE:e8b35609986e37a5751b0ae4e660f28a975a6af2');
}
.frame-2-6aj .auto-group-cym7-T3u .auto-group-utgh-Bu1 .auto-group-p7id-8rB {
  margin-bottom: 21.8rem;
  width: 26.2245rem;
  flex-shrink: 0;
}
.frame-2-6aj .auto-group-cym7-T3u .auto-group-utgh-Bu1 .auto-group-p7id-8rB .link-article-footer-heading-5-best-winter-sustainable-gloves-rnB {
  margin-bottom: 11.5rem;
  width: 100%;
  max-width: 25.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3e5e5a;
  font-family: Segoe UI, 'Source Sans Pro';
}
.frame-2-6aj .auto-group-cym7-T3u .auto-group-utgh-Bu1 .auto-group-p7id-8rB .link-article-footer-heading-5-8-stylish-and-cozy-sustainable-Gb1 {
  width: 100%;
  max-width: 25.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #3e5e5a;
  font-family: Segoe UI, 'Source Sans Pro';
}
.frame-2-6aj .link-gPq {
  margin: 0rem 9.901rem 0rem 75.5rem;
  box-sizing: border-box;
  padding: 0.9rem 5.767rem 1.1rem 7.525rem;
  width: calc(100% - 85.4015rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #3e5e5a;
  background-color: #3e5e5a;
  flex-shrink: 0;
}
.frame-2-6aj .link-gPq .all-ethical-fashion-articles-uA7 {
  margin-right: 1.0069rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Segoe UI, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-2-6aj .link-gPq .svg-mi7 {
  margin-top: 0.016rem;
  width: 2.2003rem;
  height: 1.4161rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
