
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 197.8rem;
}.frame-6-HGT {
  padding: 8.75rem 32.7rem 13.732rem 11.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;

  .auto-group-gcdb-MXD {
    margin: 6.25rem 6.9rem 0rem 0rem;
    width: 43.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .article-figure-green-beauty-brands-bearbareberry-230x230jpg-qSP {
      background-image: url('REPLACE_IMAGE:aeb936ede277ee261c2942dd4298f68909f1508a');
      width: 100%;
      height: 58.9rem;
      background-color: #e6ebee;
      background-size: 100% 100%;
      margin-bottom: 6.7678rem;
      overflow: hidden;
      position: relative;
      flex-shrink: 0;

      .article-figure-green-beauty-brands-bearbareberry-230x230jpg-qSP-bg {
        width: 43.9rem;
        height: 58.9rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:aeb936ede277ee261c2942dd4298f68909f1508a');
      }
    }
    .article-footer-heading-5-barebearberry-DC3 {
      display: flex;
      justify-content: center;
      color: #3e5e5a;
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 7.9356rem;
      align-items: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.1rem;
      font-family: Segoe UI, 'Source Sans Pro';
    }
  }
  .auto-group-6wam-g5d {
    margin: 0rem 11.3rem 5.918rem 0rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .main-section-header-heading-2-biP {
      letter-spacing: 0.1rem;
      align-items: center;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2000000477;
      white-space: nowrap;
      color: #343a40;
      font-family: Segoe UI, 'Source Sans Pro';
      flex-shrink: 0;
      box-sizing: border-box;
      height: 11.55rem;
      justify-content: center;
      text-transform: uppercase;
      border: solid 0.3rem #e1b9a7;
      margin: 0rem 2rem 4.9rem 0rem;
      padding: 0rem 8.389rem 0rem 8.411rem;
      display: flex;
    }
    .link-o3m {
      width: 40rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .article-figure-zakiella-brand-directory-230x230jpg-LpP {
        height: 39.7rem;
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:c83efd278dfc13890c9e1dd79b9690f2033f966b');
        flex-shrink: 0;
        margin-bottom: 9.85rem;
        width: 100%;
        overflow: hidden;
        background-color: #e6ebee;

        .article-figure-zakiella-brand-directory-230x230jpg-LpP-bg {
          position: relative;
          background-image: url('REPLACE_IMAGE:c83efd278dfc13890c9e1dd79b9690f2033f966b');
          width: 40rem;
          height: 39.7rem;
        }
      }
      .article-footer-heading-5-zakiella-Lxo {
        justify-content: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.1rem;
        flex-shrink: 0;
        margin-right: 3rem;
        align-items: center;
        font-family: Segoe UI, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        color: #3e5e5a;
      }
    }
  }
  .auto-group-9gn9-QSs {
    margin-top: 0.2822rem;
    width: 44.8rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .article-figure-ethical-and-sustainable-jewelry-valley-rose-230x230jpg-YZ5 {
      background-image: url('REPLACE_IMAGE:335987fa7c01b501961183e9362b203786084dd1');
      flex-shrink: 0;
      position: relative;
      background-color: #e6ebee;
      background-size: 100% 100%;
      margin-bottom: 2.9rem;
      width: 100%;
      height: 61rem;
      overflow: hidden;

      .article-figure-ethical-and-sustainable-jewelry-valley-rose-230x230jpg-YZ5-bg {
        width: 44.8rem;
        height: 61rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:335987fa7c01b501961183e9362b203786084dd1');
      }
    }
    .article-footer-heading-5-valley-rose-nTR {
      justify-content: center;
      font-family: Segoe UI, 'Source Sans Pro';
      letter-spacing: 0.1rem;
      color: #3e5e5a;
      width: 100%;
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.2;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
