
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.frame-2-6aj {
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 9.05rem 5.999rem 13.2rem 13.9rem;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;

  .header-heading-2-ethical-fashion-ok3 {
    font-weight: 300;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-family: Segoe UI, 'Source Sans Pro';
    display: flex;
    font-size: 3.2rem;
    justify-content: center;
    line-height: 1.2000000477;
    color: #212529;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 8.95rem 19.499rem;
    align-items: center;
  }
  .auto-group-cym7-T3u {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 62.3rem;

    .link-article-figure-sustianable-gloves-french-knot1-306x459jpg-zZd {
      overflow: hidden;
      position: relative;
      background-color: #e6ebee;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:66621c9cb0beb91929e6145f0fb989811d53e65b');
      flex-shrink: 0;
      width: 40.1rem;
      height: 100%;

      .link-article-figure-sustianable-gloves-french-knot1-306x459jpg-zZd-bg {
        height: 62.3rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:66621c9cb0beb91929e6145f0fb989811d53e65b');
        width: 40.1rem;
      }
    }
    .auto-group-utgh-Bu1 {
      padding: 5.6rem 0rem 3.8rem 9.6rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .link-article-figure-sustainable-scarves-minna-306x459jpg-aRM {
        margin-right: 10.377rem;
        overflow: hidden;
        position: relative;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:e8b35609986e37a5751b0ae4e660f28a975a6af2');
        width: 37.8rem;
        height: 100%;
        background-color: #e6ebee;
        flex-shrink: 0;

        .link-article-figure-sustainable-scarves-minna-306x459jpg-aRM-bg {
          background-image: url('REPLACE_IMAGE:e8b35609986e37a5751b0ae4e660f28a975a6af2');
          width: 37.8rem;
          height: 52.9rem;
          position: relative;
        }
      }
      .auto-group-p7id-8rB {
        margin-bottom: 21.8rem;
        width: 26.2245rem;
        flex-shrink: 0;

        .link-article-footer-heading-5-best-winter-sustainable-gloves-rnB {
          width: 100%;
          max-width: 25.8rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2;
          font-family: Segoe UI, 'Source Sans Pro';
          margin-bottom: 11.5rem;
          align-items: center;
          justify-content: center;
          color: #3e5e5a;
        }
        .link-article-footer-heading-5-8-stylish-and-cozy-sustainable-Gb1 {
          line-height: 1.2;
          color: #3e5e5a;
          align-items: center;
          font-weight: 400;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          font-family: Segoe UI, 'Source Sans Pro';
          width: 100%;
          max-width: 25.2rem;
        }
      }
    }
  }
  .link-gPq {
    border: solid 0.1rem #3e5e5a;
    background-color: #3e5e5a;
    padding: 0.9rem 5.767rem 1.1rem 7.525rem;
    width: calc(100% - 85.4015rem);
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 9.901rem 0rem 75.5rem;
    box-sizing: border-box;
    display: flex;

    .all-ethical-fashion-articles-uA7 {
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 1.0069rem;
      display: flex;
      color: #ffffff;
      font-family: Segoe UI, 'Source Sans Pro';
      font-weight: 400;
      line-height: 1.5;
    }
    .svg-mi7 {
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.016rem;
      width: 2.2003rem;
      height: 1.4161rem;
      object-fit: contain;
    }
  }
}
