
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 155.9rem;
}.frame-11-yUT {
  overflow: hidden;
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 11.8rem 14.5rem 7.7rem 14.9rem;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-8ikw-hfM {
    margin-bottom: 3.8rem;
    width: 100%;
    height: 69.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-cdxh-e4o {
      width: 38.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 3.4rem 6.2rem 0rem;

      .link-article-figure-swiffer-alternatives-featured-306x459jpg-aDM {
        width: 100%;
        background-image: url('REPLACE_IMAGE:9302da0f38148f3d6f54c1d7e4292618b25ccb37');
        overflow: hidden;
        position: relative;
        background-color: #e6ebee;
        background-size: 100% 100%;
        flex-shrink: 0;
        margin-bottom: 1.9rem;
        height: 56.3rem;

        .link-article-figure-swiffer-alternatives-featured-306x459jpg-aDM-bg {
          width: 38.9rem;
          height: 56.3rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:9302da0f38148f3d6f54c1d7e4292618b25ccb37');
        }
      }
      .link-article-footer-heading-5-these-are-the-best-swiffer-2b9 {
        font-size: 2rem;
        line-height: 1.2;
        flex-shrink: 0;
        justify-content: center;
        max-width: 22rem;
        display: flex;
        align-items: center;
        font-weight: 400;
        color: #3e5e5a;
        font-family: Segoe UI, 'Source Sans Pro';
        margin-left: 0.112rem;
      }
    }
    .link-article-figure-zero-waste-swaps-featured-image-416x624jpg-tdM {
      margin: 6.8rem 4.7rem 0rem 0rem;
      width: 41.6rem;
      overflow: hidden;
      position: relative;
      height: 62.4rem;
      background-color: #e6ebee;
      background-size: 100% 100%;
      background-image: url('REPLACE_IMAGE:7d8edd3fbe21eed680c365bc978de87d5ebe2f4c');
      flex-shrink: 0;

      .link-article-figure-zero-waste-swaps-featured-image-416x624jpg-tdM-bg {
        width: 41.6rem;
        height: 62.4rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:7d8edd3fbe21eed680c365bc978de87d5ebe2f4c');
      }
    }
    .auto-group-gz2z-WPq {
      flex-shrink: 0;
      margin: 1.6rem 0rem 4.2rem 0rem;
      width: 37.9rem;
      height: calc(100% - 5.8rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .link-article-figure-natural-laundry-stripping-with-vinegar-featured-306x459jpg-dDZ {
        overflow: hidden;
        height: 54.7rem;
        position: relative;
        background-color: #e6ebee;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:06b982d592ab1df49ef168b4c32cfeda0035cfd5');
        flex-shrink: 0;
        margin-bottom: 3.9rem;
        width: 100%;

        .link-article-figure-natural-laundry-stripping-with-vinegar-featured-306x459jpg-dDZ-bg {
          position: relative;
          background-image: url('REPLACE_IMAGE:06b982d592ab1df49ef168b4c32cfeda0035cfd5');
          width: 37.9rem;
          height: 54.7rem;
        }
      }
      .link-article-footer-heading-5-natural-laundry-stripping-with-TCb {
        flex-shrink: 0;
        display: flex;
        font-size: 1.9844rem;
        font-weight: 400;
        font-family: Segoe UI, 'Source Sans Pro';
        line-height: 1.2094488189;
        color: #3e5e5a;
        margin-left: 0.124rem;
        max-width: 25.7rem;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .link-article-footer-heading-5-12-easy-zero-waste-swaps-for-busy-people-8Jj {
    font-size: 2rem;
    font-weight: 400;
    color: #343a40;
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 5.899rem 0.773rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
  }
  .auto-group-5gkm-o9y {
    margin-left: 98.588rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .link-svg-8i3 {
      height: 3.0012rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 2.481rem;
      width: 3.02rem;
    }
    .vector-fCB {
      margin: 0.001rem 2.436rem 0rem 0rem;
      width: 4.264rem;
      height: 2.999rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .link-svg-aK9 {
      flex-shrink: 0;
      margin-top: 0.0031rem;
      width: 3.689rem;
      height: 2.9973rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
